# **Data Import**

In [1]:
import pandas as pd
import numpy as np

Looking at the zipfile

In [2]:
import zipfile
# python module used to open, read and extraxt from zipfiles

with zipfile.ZipFile('t20s_male_csv2.zip', 'r') as all_it20s:
# turn the zipfile into an object so we can do some stuff wirh it
  it20s_namelist = all_it20s.namelist()
  print(it20s_namelist[:10])

['README.txt', '211048.csv', '211048_info.csv', '211028.csv', '211028_info.csv', '222678.csv', '222678_info.csv', '226374.csv', '226374_info.csv', '237242.csv']

In [3]:
len(it20s_namelist)

5241

In [4]:
with zipfile.ZipFile('t20s_male_csv2.zip', 'r') as all_it20s: # have to use zoipfile each time to access the zip
    with all_it20s.open('211048_info.csv') as f:
        lines = f.readlines()
        for i, line in enumerate(lines[:10], 1):
            print(f"Line {i}: {line.decode('utf-8').strip()}")
# utf-8 decode turn it from byte string to normal string, as we have different number of columns in some of the rows

Line 1: version,2.1.0
Line 2: info,balls_per_over,6
Line 3: info,team,New Zealand
Line 4: info,team,Australia
Line 5: info,gender,male
Line 6: info,season,2004/05
Line 7: info,date,2005/02/17
Line 8: info,venue,Eden Park
Line 9: info,city,Auckland
Line 10: info,toss_winner,Australia

Want to only include games between Eng and Aus

The info files contain what teams are playing

In [5]:
it20s_info_files = [f for f in it20s_namelist if f.endswith('_info.csv')]
# using [] to create a list of every file in the filelist that ends in _info.csv
print(len(it20s_info_files))

2620

Half the files have _info at the end which is what we want. Also -1 for the README file

In [6]:
eng_vs_aus_matches = []

with zipfile.ZipFile('t20s_male_csv2.zip', 'r') as all_it20s:
    for f in it20s_info_files:
        with all_it20s.open(f) as file:
            lines = file.readlines()
            line3 = lines[2].decode('utf-8')
            line4 = lines[3].decode('utf-8')
            # lines 2 and 3 actually 3 and 4 with 0 index
            # decode each line from byte to string

            if "England" in line3 and "Australia" in line4 or \
               "Australia" in line3 and "England" in line4:# check both orders aus/eng and eng/aus
                eng_vs_aus_matches.append(f)
# gives list with info docs that are between eng and aus

In [7]:
print(len(eng_vs_aus_matches))

26

In [8]:
match_ids = [f.replace('_info.csv', '') for f in eng_vs_aus_matches]
print(match_ids)
# gives me all the match ids for t20Is between E and A, now need to make a file with these in

['211028', '249227', '287861', '350050', '412703', '446960', '446961', '566937', '566938', '636164', '636165', '636166', '743975', '1072317', '1072318', '1119542', '1198235', '1198236', '1198237', '1273737', '1317486', '1317487', '1317488', '1415717', '1385697', '1385698']

In [9]:
files_to_include = []
for mid in match_ids:
  files_to_include.append(f"{mid}.csv")
  files_to_include.append(f"{mid}_info.csv")

#use f string to insert

In [10]:
source_zip = 't20s_male_csv2.zip'
output_zip = 'eng_aus_matches_only.zip'

with zipfile.ZipFile(source_zip, 'r') as zin:
    with zipfile.ZipFile(output_zip, 'w') as zout:
        for f in files_to_include:
            data = zin.read(f)
            zout.writestr(f, data)

In [11]:
with zipfile.ZipFile("eng_aus_matches_only.zip", "r") as zip_ref:
    zip_ref.printdir()
# list the files in the zip

File Name                                             Modified             Size
211028.csv                                     2025-08-22 08:49:04        23981
211028_info.csv                                2025-08-22 08:49:04         2161
249227.csv                                     2025-08-22 08:49:04        29907
249227_info.csv                                2025-08-22 08:49:04         2232
287861.csv                                     2025-08-22 08:49:04        22655
287861_info.csv                                2025-08-22 08:49:04         2268
350050.csv                                     2025-08-22 08:49:04        14547
350050_info.csv                                2025-08-22 08:49:04         2223
412703.csv                                     2025-08-22 08:49:04        28866
412703_info.csv                                2025-08-22 08:49:04         2273
446960.csv                                     2025-08-22 08:49:04        26808
446960_info.csv                                2025-08-22 08:49:04         2251
446961.csv                                     2025-08-22 08:49:04        29335
446961_info.csv                                2025-08-22 08:49:04         2262
566937.csv                                     2025-08-22 08:49:04        26332
566937_info.csv                                2025-08-22 08:49:04         2262
566938.csv                                     2025-08-22 08:49:04        27293
566938_info.csv                                2025-08-22 08:49:04         2279
636164.csv                                     2025-08-22 08:49:04        27901
636164_info.csv                                2025-08-22 08:49:04         2214
636165.csv                                     2025-08-22 08:49:04        25946
636165_info.csv                                2025-08-22 08:49:04         2261
636166.csv                                     2025-08-22 08:49:04        26337
636166_info.csv                                2025-08-22 08:49:04         2263
743975.csv                                     2025-08-22 08:49:04        26264
743975_info.csv                                2025-08-22 08:49:04         2192
1072317.csv                                    2025-08-22 08:49:04        26449
1072317_info.csv                               2025-08-22 08:49:04         2235
1072318.csv                                    2025-08-22 08:49:04        26480
1072318_info.csv                               2025-08-22 08:49:04         2244
1119542.csv                                    2025-08-22 08:49:04        24816
1119542_info.csv                               2025-08-22 08:49:04         2219
1198235.csv                                    2025-08-22 08:49:04        26420
1198235_info.csv                               2025-08-22 08:49:04         2232
1198236.csv                                    2025-08-22 08:49:04        25488
1198236_info.csv                               2025-08-22 08:49:04         2235
1198237.csv                                    2025-08-22 08:49:04        25821
1198237_info.csv                               2025-08-22 08:49:04         2235
1273737.csv                                    2025-08-22 08:49:04        25846
1273737_info.csv                               2025-08-22 08:49:04         2284
1317486.csv                                    2025-08-22 08:49:04        27848
1317486_info.csv                               2025-08-22 08:49:04         2223
1317487.csv                                    2025-08-22 08:49:04        30207
1317487_info.csv                               2025-08-22 08:49:04         2284
1317488.csv                                    2025-08-22 08:49:04        12220
1317488_info.csv                               2025-08-22 08:49:04         2194
1415717.csv                                    2025-08-22 08:49:04        33374
1415717_info.csv                               2025-08-22 08:49:04         2278
1385697.csv                                    2025-08-22 08:49:04        30219
1385697_info.csv                               2025-08-22 08:49:04         2253
1385698.csv                                    2025-08-22 08:49:04        29664
1385698_info.csv                               2025-08-22 08:49:04         2257

# **Intial Feature Engineering**


1.   These features arer going to be very basic and got from the existing CSV
2.   The initial df for one match id

When setting up ypu dataframe to be suitable for the TFT model I need a

1.   Group ID, to identify each independent sequence = .ID
2.   Time index, to provide temporal structure to each independent sequence = .TIME
3.   Features: These can be Static variables, past variables, future known variables
4.   Target Variable coulumns, what I am trying to predict  .TARGET

In [12]:
with zipfile.ZipFile("eng_aus_matches_only.zip", "r") as zip_ref:
    with zip_ref.open("211028.csv") as file:
        df_2011028 = pd.read_csv(file)
# taking one eng aus game and converting the ball by ball csv into a pd df

In [13]:
df_2011028.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Add **group ID** for TFT model

In [14]:
# add match id and innings column as TFT expects a group id to identify independent sequences, each innings is different even if they are same match
df_2011028['match_id_innings'] = df_2011028['match_id'].astype(str)+'_'+df_2011028['innings'].astype(str)

df_2011028.head(1)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1

Add **time index** for TFT model

In [15]:
df_2011028['time_idx'] = df_2011028.groupby('match_id_innings').cumcount() + 1

df_2011028.head(10)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5
5,211028,2005,2005-06-13,The Rose Bowl,1,0.6,England,Australia,GO Jones,ME Trescothick,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,6
6,211028,2005,2005-06-13,The Rose Bowl,1,0.7,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,7
7,211028,2005,2005-06-13,The Rose Bowl,1,1.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,8
8,211028,2005,2005-06-13,The Rose Bowl,1,1.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,9
9,211028,2005,2005-06-13,The Rose Bowl,1,1.3,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,10

Add total_runs as a simple Target Variable

In [16]:
df_2011028['total_runs_off_ball'] = df_2011028['runs_off_bat'].astype(int) + df_2011028['extras'].astype(int)
df_2011028.head(5)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1,0
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2,1
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3,0
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4,0
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5,0

Add cumulative runs

In [17]:
df_2011028['cum_runs'] = df_2011028.groupby('match_id_innings')['total_runs_off_ball'].cumsum()
df_2011028.head(15)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1,0,0
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2,1,1
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3,0,1
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4,0,1
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5,0,1
5,211028,2005,2005-06-13,The Rose Bowl,1,0.6,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,6,1,2
6,211028,2005,2005-06-13,The Rose Bowl,1,0.7,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,7,2,4
7,211028,2005,2005-06-13,The Rose Bowl,1,1.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,8,0,4
8,211028,2005,2005-06-13,The Rose Bowl,1,1.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,9,0,4
9,211028,2005,2005-06-13,The Rose Bowl,1,1.3,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,10,1,5
10,211028,2005,2005-06-13,The Rose Bowl,1,1.4,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,11,0,5
11,211028,2005,2005-06-13,The Rose Bowl,1,1.5,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,12,0,5
12,211028,2005,2005-06-13,The Rose Bowl,1,1.6,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,13,0,5
13,211028,2005,2005-06-13,The Rose Bowl,1,1.7,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,14,1,6
14,211028,2005,2005-06-13,The Rose Bowl,1,2.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,15,4,10

Add cumulative wickets

In [18]:
df_2011028['is_wicket'] = df_2011028['wicket_type'].notna().astype(int)
# not na, check if there is a nan value or something else, then as type turns to integer rather than t/f
df_2011028['cum_wickets'] = df_2011028.groupby('match_id_innings')['is_wicket'].cumsum()
# can now count number of wickets
df_2011028.head(100)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,211028_1,1,0,0,0,0
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,NaN,211028_1,2,1,1,0,0
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,211028_1,3,0,1,0,0
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,211028_1,4,0,1,0,0
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,NaN,211028_1,5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,211028,2005,2005-06-13,The Rose Bowl,1,15.2,England,Australia,PD Collingwood,AJ Strauss,...,NaN,NaN,NaN,NaN,211028_1,96,1,126,0,5
96,211028,2005,2005-06-13,The Rose Bowl,1,15.3,England,Australia,AJ Strauss,PD Collingwood,...,NaN,NaN,NaN,NaN,211028_1,97,0,126,0,5
97,211028,2005,2005-06-13,The Rose Bowl,1,15.4,England,Australia,AJ Strauss,PD Collingwood,...,NaN,NaN,NaN,NaN,211028_1,98,1,127,0,5
98,211028,2005,2005-06-13,The Rose Bowl,1,15.5,England,Australia,PD Collingwood,AJ Strauss,...,NaN,NaN,NaN,NaN,211028_1,99,4,131,0,5
99,211028,2005,2005-06-13,The Rose Bowl,1,15.6,England,Australia,PD Collingwood,AJ Strauss,...,NaN,NaN,NaN,NaN,211028_1,100,1,132,0,5

Add lagged feature that shows runs from the previous 3 balls

In [19]:
df_2011028['runs_prev_3']=df_2011028.groupby('match_id')['total_runs_off_ball'].shift(3)
# use shift to fidn the total of the last 3 balls
df_2011028['runs_prev_3'] = df_2011028['runs_prev_3'].fillna(0).astype(int)
# was originally returning a float as there was nan values for the first 3 balls. However, I have set it to zero. This is because this feature is to give an idea of momentum and at start of the innings there is little momentum so zero will have low impact. Also as we have time_idx the model woll recognise these balls as being early in the innings.
df_2011028.head(15)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,1,0,0,0,0,0
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,2,1,1,0,0,0
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,211028_1,3,0,1,0,0,0
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,211028_1,4,0,1,0,0,0
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,211028_1,5,0,1,0,0,1
5,211028,2005,2005-06-13,The Rose Bowl,1,0.6,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,211028_1,6,1,2,0,0,0
6,211028,2005,2005-06-13,The Rose Bowl,1,0.7,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,NaN,211028_1,7,2,4,0,0,0
7,211028,2005,2005-06-13,The Rose Bowl,1,1.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,8,0,4,0,0,0
8,211028,2005,2005-06-13,The Rose Bowl,1,1.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,9,0,4,0,0,1
9,211028,2005,2005-06-13,The Rose Bowl,1,1.3,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,10,1,5,0,0,2
10,211028,2005,2005-06-13,The Rose Bowl,1,1.4,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,11,0,5,0,0,0
11,211028,2005,2005-06-13,The Rose Bowl,1,1.5,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,12,0,5,0,0,0
12,211028,2005,2005-06-13,The Rose Bowl,1,1.6,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,13,0,5,0,0,1
13,211028,2005,2005-06-13,The Rose Bowl,1,1.7,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,14,1,6,0,0,0
14,211028,2005,2005-06-13,The Rose Bowl,1,2.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,NaN,211028_1,15,4,10,0,0,0

Create over number so we can do powerplay and death overs

In [20]:
df_2011028['over_number'] = df_2011028['ball'].apply(lambda x: int(x) + 1)
df_2011028.head(146)
# look at 146 as there was an over with a noball and was checking that it work even if there was more than 6 balls in the over and it did.

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,211028_1,1,0,0,0,0,0,1
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,NaN,NaN,211028_1,2,1,1,0,0,0,1
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,211028_1,3,0,1,0,0,0,1
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,211028_1,4,0,1,0,0,0,1
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,NaN,NaN,211028_1,5,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,211028,2005,2005-06-13,The Rose Bowl,2,2.5,Australia,England,AC Gilchrist,ML Hayden,...,NaN,NaN,211028_2,17,0,23,1,1,1,3
142,211028,2005,2005-06-13,The Rose Bowl,2,2.6,Australia,England,ML Hayden,A Symonds,...,NaN,NaN,211028_2,18,0,23,1,2,1,3
143,211028,2005,2005-06-13,The Rose Bowl,2,2.7,Australia,England,A Symonds,MJ Clarke,...,NaN,NaN,211028_2,19,0,23,0,2,2,3
144,211028,2005,2005-06-13,The Rose Bowl,2,3.1,Australia,England,MJ Clarke,A Symonds,...,NaN,NaN,211028_2,20,0,23,1,3,0,4
145,211028,2005,2005-06-13,The Rose Bowl,2,3.2,Australia,England,MEK Hussey,A Symonds,...,NaN,NaN,211028_2,21,0,23,0,3,0,4

In [21]:
#powerplayer <= 6 and death overs >= 17
df_2011028['powerplay']=(df_2011028['over_number']<=6).astype(int)
df_2011028['death_overs']=(df_2011028['over_number']>=17).astype(int)
df_2011028.head(120)

# during the powerplay teams are only allowed 2 fielders outside of the 30 yard circle
# for the remaining overs you are not allowed more than 5 fielders outside the ring
# the last 4 overs are considered the death overs and bowling style is known to change, bowlers tend to try variations i.e slower balls to prevent batsmen scoring

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,...,211028_1,1,0,0,0,0,0,1,1,0
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,...,211028_1,2,1,1,0,0,0,1,1,0
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,...,211028_1,3,0,1,0,0,0,1,1,0
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,...,211028_1,4,0,1,0,0,0,1,1,0
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,...,211028_1,5,0,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,211028,2005,2005-06-13,The Rose Bowl,1,18.3,England,Australia,VS Solanki,PD Collingwood,...,211028_1,116,1,159,0,6,1,19,0,1
116,211028,2005,2005-06-13,The Rose Bowl,1,18.4,England,Australia,PD Collingwood,VS Solanki,...,211028_1,117,0,159,0,6,1,19,0,1
117,211028,2005,2005-06-13,The Rose Bowl,1,18.5,England,Australia,PD Collingwood,VS Solanki,...,211028_1,118,4,163,0,6,0,19,0,1
118,211028,2005,2005-06-13,The Rose Bowl,1,18.6,England,Australia,PD Collingwood,VS Solanki,...,211028_1,119,4,167,0,6,1,19,0,1
119,211028,2005,2005-06-13,The Rose Bowl,1,19.1,England,Australia,VS Solanki,PD Collingwood,...,211028_1,120,2,169,0,6,0,20,0,1

Add some static features from the info file
1. doing this basically now, will need to make a mother file with all info and link stuff we want to match_id

In [22]:
info_dict_2011028 = {}

with zipfile.ZipFile("eng_aus_matches_only.zip", "r") as zip_ref:
    with zip_ref.open("211028_info.csv") as f:
        for line in f:
            parts = line.decode('utf-8').strip().split(",")
            if len(parts) == 3 and parts[0] == "info":
                key = parts[1].strip()
                value = parts[2].strip()
                info_dict_2011028[key] = value

# create empty dict and then we can add key value pairs with the information I want

In [23]:
#set what we want
for key in ['city', 'toss_winner', 'toss_decision']:
  df_2011028[key] = info_dict_2011028[key]
  df_2011028.head(5)

In [24]:
pd.set_option('display.max_columns', None)
df_2011028.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,city,toss_winner,toss_decision
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1,0,0,0,0,0,1,1,0,Southampton,England,bat
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2,1,1,0,0,0,1,1,0,Southampton,England,bat
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3,0,1,0,0,0,1,1,0,Southampton,England,bat
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4,0,1,0,0,0,1,1,0,Southampton,England,bat
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5,0,1,0,0,1,1,1,0,Southampton,England,bat

# **Eng/Aus Pipeline**

### Input features

Now add all those features I've added to a dataframe for all the eng and aus matches

In [25]:
# function tp add all the features i have already created
def process_match(ball_df, info_dict):
    df = ball_df.copy()

    # match_id_innings
    df['match_id_innings'] = df['match_id'].astype(str) + "_" + df['innings'].astype(str)
    # time_idx
    df['time_idx'] = df.groupby('match_id_innings').cumcount() + 1
    # Total runs off ball
    df['total_runs_off_ball'] = df['runs_off_bat'] + df['extras']
    # Cumulative runs
    df['cum_runs'] = df.groupby('match_id_innings')['total_runs_off_ball'].cumsum()
    # wickets
    df['is_wicket'] = df['wicket_type'].notna().astype(int)
    df['cum_wickets'] = df.groupby('match_id_innings')['is_wicket'].cumsum()
    # previous 3 balls
    df['runs_prev_3'] = df.groupby('match_id_innings')['total_runs_off_ball'].shift(3).fillna(0).astype(int)
    # Over number
    df['over_number'] = df['ball'].apply(lambda x: int(x) + 1)
    # Powerplay and death overs
    df['powerplay'] = (df['over_number'] <= 6).astype(int)
    df['death_overs'] = (df['over_number'] >= 17).astype(int)

    # Balls remaing
    #legal delivery column, cum count it then subtract from 120
    df['legal_delivery'] = ((df['wides'].fillna(0) == 0) & (df['noballs'].fillna(0) == 0)).astype(int)
    df['legal_delivery_number'] = df.groupby('match_id_innings')['legal_delivery'].cumsum()
    df['balls_remaining'] = 120 - df['legal_delivery_number']


    # Static covariates from info file
    for key in ['city', 'toss_winner', 'toss_decision']:
        df[key] = info_dict.get(key, None)


    return df

In [26]:
zip_path = "eng_aus_matches_only.zip"

all_eng_aus_matches = []

# Open the zip file
with zipfile.ZipFile(zip_path, "r") as zip_ref:
    for match_id in match_ids:
        ball_file = f"{match_id}.csv"
        info_file = f"{match_id}_info.csv"

        with zip_ref.open(ball_file) as f:
            ball_df = pd.read_csv(f)
            # look at the ball by ball file

        info_dict = {}
        with zip_ref.open(info_file) as f:
            for line in f:
                parts = line.decode('utf-8').strip().split(",")
                if len(parts) == 3 and parts[0] == "info":
                    key = parts[1].strip()
                    value = parts[2].strip()
                    info_dict[key] = value
                    # parse the info file for static covariates

        processed_df = process_match(ball_df, info_dict)
        all_eng_aus_matches.append(processed_df)

df_all_eng_aus = pd.concat(all_eng_aus_matches, ignore_index=True)

df_all_eng_aus.head(127)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,legal_delivery,legal_delivery_number,balls_remaining,city,toss_winner,toss_decision
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1,0,0,0,0,0,1,1,0,1,1,119,Southampton,England,bat
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2,1,1,0,0,0,1,1,0,1,2,118,Southampton,England,bat
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3,0,1,0,0,0,1,1,0,1,3,117,Southampton,England,bat
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4,0,1,0,0,0,1,1,0,1,4,116,Southampton,England,bat
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5,0,1,0,0,1,1,1,0,1,5,115,Southampton,England,bat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,211028,2005,2005-06-13,The Rose Bowl,1,19.4,England,Australia,VS Solanki,PD Collingwood,GD McGrath,0,0,NaN,NaN,NaN,NaN,NaN,caught,VS Solanki,NaN,NaN,211028_1,123,0,175,1,7,2,20,0,1,1,118,2,Southampton,England,bat
123,211028,2005,2005-06-13,The Rose Bowl,1,19.5,England,Australia,PD Collingwood,J Lewis,GD McGrath,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,124,4,179,0,7,4,20,0,1,1,119,1,Southampton,England,bat
124,211028,2005,2005-06-13,The Rose Bowl,1,19.6,England,Australia,PD Collingwood,J Lewis,GD McGrath,0,0,NaN,NaN,NaN,NaN,NaN,caught,PD Collingwood,NaN,NaN,211028_1,125,0,179,1,8,2,20,0,1,1,120,0,Southampton,England,bat
125,211028,2005,2005-06-13,The Rose Bowl,2,0.1,Australia,England,AC Gilchrist,ML Hayden,D Gough,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_2,1,0,0,0,0,0,1,1,0,1,1,119,Southampton,England,bat
126,211028,2005,2005-06-13,The Rose Bowl,2,0.2,Australia,England,AC Gilchrist,ML Hayden,D Gough,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_2,2,4,4,0,0,0,1,1,0,1,2,118,Southampton,England,bat

Lets do some idiot checks!

In [27]:
#number of unique match ids, there should be 26...
df_all_eng_aus['match_id'].nunique()

# lets go

26

In [28]:
# balls per match
df_all_eng_aus['match_id'].value_counts()

#all look about right, the shorter games are due to match abadonment and domination

match_id
1317486    255
1317487    254
636164     251
1415717    251
566937     250
566938     249
249227     249
1198235    248
743975     246
446961     245
1119542    245
1385697    245
446960     244
1385698    244
1198237    243
1198236    239
1072317    238
412703     231
636166     230
1072318    218
211028     215
636165     214
287861     212
1273737    197
350050     136
1317488    100
Name: count, dtype: int64

In [29]:
df_all_eng_aus[df_all_eng_aus['match_id'] == 350050].head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,legal_delivery,legal_delivery_number,balls_remaining,city,toss_winner,toss_decision
676,350050,2009,2009-08-30,Old Trafford,1,0.1,Australia,England,SR Watson,DA Warner,JM Anderson,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350050_1,1,0,0,0,0,0,1,1,0,1,1,119,Manchester,England,field
677,350050,2009,2009-08-30,Old Trafford,1,0.2,Australia,England,SR Watson,DA Warner,JM Anderson,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350050_1,2,1,1,0,0,0,1,1,0,1,2,118,Manchester,England,field
678,350050,2009,2009-08-30,Old Trafford,1,0.3,Australia,England,DA Warner,SR Watson,JM Anderson,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350050_1,3,2,3,0,0,0,1,1,0,1,3,117,Manchester,England,field
679,350050,2009,2009-08-30,Old Trafford,1,0.4,Australia,England,DA Warner,SR Watson,JM Anderson,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350050_1,4,0,3,0,0,0,1,1,0,1,4,116,Manchester,England,field
680,350050,2009,2009-08-30,Old Trafford,1,0.5,Australia,England,DA Warner,SR Watson,JM Anderson,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350050_1,5,1,4,0,0,1,1,1,0,0,4,116,Manchester,England,field

In [30]:
df_all_eng_aus[df_all_eng_aus['match_id_innings'] == '211028_1'][['time_idx', 'ball', 'legal_delivery', 'legal_delivery_number', 'balls_remaining']].tail(10)
# looks like balls_remaining works

     time_idx  ball  legal_delivery  legal_delivery_number  balls_remaining
115       116  18.3               1                    111                9
116       117  18.4               1                    112                8
117       118  18.5               1                    113                7
118       119  18.6               1                    114                6
119       120  19.1               1                    115                5
120       121  19.2               1                    116                4
121       122  19.3               1                    117                3
122       123  19.4               1                    118                2
123       124  19.5               1                    119                1
124       125  19.6               1                    120                0

### Target Variables
Add target variables to the process match function

In [31]:
# function tp add all the features i have already created
def process_match(ball_df, info_dict):
    df = ball_df.copy()

    # match_id_innings
    df['match_id_innings'] = df['match_id'].astype(str) + "_" + df['innings'].astype(str)
    # time_idx
    df['time_idx'] = df.groupby('match_id_innings').cumcount() + 1
    # Total runs off ball
    df['total_runs_off_ball'] = df['runs_off_bat'] + df['extras']
    # Cumulative runs
    df['cum_runs'] = df.groupby('match_id_innings')['total_runs_off_ball'].cumsum()
    # wickets
    df['is_wicket'] = df['wicket_type'].notna().astype(int)
    df['cum_wickets'] = df.groupby('match_id_innings')['is_wicket'].cumsum()
    # previous 3 balls
    df['runs_prev_3'] = df.groupby('match_id_innings')['total_runs_off_ball'].shift(3).fillna(0).astype(int)
    # Over number
    df['over_number'] = df['ball'].apply(lambda x: int(x) + 1)
    # Powerplay and death overs
    df['powerplay'] = (df['over_number'] <= 6).astype(int)
    df['death_overs'] = (df['over_number'] >= 17).astype(int)

    # Static covariates from info file
    for key in ['city', 'toss_winner', 'toss_decision']:
        df[key] = info_dict.get(key, None)
    # Balls remaining
    #legal delivery column, cum count it then subtract from 120
    df['legal_delivery'] = ((df['wides'].fillna(0) == 0) & (df['noballs'].fillna(0) == 0)).astype(int)
    df['legal_delivery_number'] = df.groupby('match_id_innings')['legal_delivery'].cumsum()
    df['balls_remaining'] = 120 - df['legal_delivery_number']

    # add target variables
    # One-hot encoded runs
    for i in [0, 1, 2, 3, 4, 6]:
        df[f'rob_{i}'] = (df['runs_off_bat'] == i).astype(int)

    # Added this just so I have all target varibales together can delete is_wicket later
    df['wicket'] = df['is_wicket']

    # make extras binary not a value
    df['extra'] = (df['extras'] > 0).astype(int)

    # "Other" = not a given run, wicket, or extra. There is some wierd things that happen in cricketgames so I will have this as failsafe
    df['other'] = (
        (df[[f'rob_{i}' for i in [0,1,2,3,4,6]]].sum(axis=1) == 0) &
        (df['wicket'] == 0) &
        (df['extra'] == 0)
    ).astype(int)



    return df

Update df

In [32]:
zip_path = "eng_aus_matches_only.zip"

all_eng_aus_matches = []

# Open the zip file
with zipfile.ZipFile(zip_path, "r") as zip_ref:
    for match_id in match_ids:
        ball_file = f"{match_id}.csv"
        info_file = f"{match_id}_info.csv"

        with zip_ref.open(ball_file) as f:
            ball_df = pd.read_csv(f)
            # look at the ball by ball file

        info_dict = {}
        with zip_ref.open(info_file) as f:
            for line in f:
                parts = line.decode('utf-8').strip().split(",")
                if len(parts) == 3 and parts[0] == "info":
                    key = parts[1].strip()
                    value = parts[2].strip()
                    info_dict[key] = value
                    # parse the info file for static covariates

        processed_df = process_match(ball_df, info_dict)
        all_eng_aus_matches.append(processed_df)

df_all_eng_aus = pd.concat(all_eng_aus_matches, ignore_index=True)

df_all_eng_aus.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,city,toss_winner,toss_decision,legal_delivery,legal_delivery_number,balls_remaining,rob_0,rob_1,rob_2,rob_3,rob_4,rob_6,wicket,extra,other
0,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1,0,0,0,0,0,1,1,0,Southampton,England,bat,1,1,119,1,0,0,0,0,0,0,0,0
1,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2,1,1,0,0,0,1,1,0,Southampton,England,bat,1,2,118,0,1,0,0,0,0,0,0,0
2,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3,0,1,0,0,0,1,1,0,Southampton,England,bat,1,3,117,1,0,0,0,0,0,0,0,0
3,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4,0,1,0,0,0,1,1,0,Southampton,England,bat,1,4,116,1,0,0,0,0,0,0,0,0
4,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5,0,1,0,0,1,1,1,0,Southampton,England,bat,1,5,115,1,0,0,0,0,0,0,0,0

In [33]:
# look how many instances there are of each one
df_all_eng_aus[['rob_0', 'rob_1', 'rob_2', 'rob_3', 'rob_4', 'rob_6', 'wicket', 'extra', 'other']].sum()

rob_0     2290
rob_1     2104
rob_2      501
rob_3       44
rob_4      702
rob_6      307
wicket     329
extra      315
other        1
dtype: int64

In [34]:
a = 2290+2104+501+44+702+307+329+315+1
print(a)

6593

In [35]:
len(df_all_eng_aus)

5949

The no. of istances and lentgh of df are different because some balls are runs of bat and extras i.e hit a four off a no-ball. Need to work out what I am going to do here.

In [36]:
df_all_eng_aus[df_all_eng_aus['other'] == 1]

# the one instance of other... travis head hit 5 off the bat!

# why is there 97 balls remaining when its delivery 3.6?
# must of been a wide/no-ball in the over... lets have a look

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,city,toss_winner,toss_decision,legal_delivery,legal_delivery_number,balls_remaining,rob_0,rob_1,rob_2,rob_3,rob_4,rob_6,wicket,extra,other
3574,1119542,2018,2018-06-27,Edgbaston,2,3.6,Australia,England,TM Head,AJ Finch,CJ Jordan,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,25,5,38,0,2,1,4,1,0,Birmingham,Australia,field,1,23,97,0,0,0,0,0,0,0,0,1

In [37]:
df_all_eng_aus[
    (df_all_eng_aus['match_id'] == 1119542) &
    (df_all_eng_aus['innings'] == 2) &
    (df_all_eng_aus['ball'].astype(str).str.startswith('3.'))
]
# yes ball 3 was a no ball

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,city,toss_winner,toss_decision,legal_delivery,legal_delivery_number,balls_remaining,rob_0,rob_1,rob_2,rob_3,rob_4,rob_6,wicket,extra,other
3569,1119542,2018,2018-06-27,Edgbaston,2,3.1,Australia,England,GJ Maxwell,AJ Finch,CJ Jordan,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,20,2,26,0,1,1,4,1,0,Birmingham,Australia,field,1,19,101,0,0,1,0,0,0,0,0,0
3570,1119542,2018,2018-06-27,Edgbaston,2,3.2,Australia,England,GJ Maxwell,AJ Finch,CJ Jordan,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,21,2,28,0,1,1,4,1,0,Birmingham,Australia,field,1,20,100,0,0,1,0,0,0,0,0,0
3571,1119542,2018,2018-06-27,Edgbaston,2,3.3,Australia,England,GJ Maxwell,AJ Finch,CJ Jordan,0,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,22,1,29,0,1,4,4,1,0,Birmingham,Australia,field,0,20,100,1,0,0,0,0,0,0,1,0
3572,1119542,2018,2018-06-27,Edgbaston,2,3.4,Australia,England,GJ Maxwell,AJ Finch,CJ Jordan,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,23,4,33,0,1,2,4,1,0,Birmingham,Australia,field,1,21,99,0,0,0,0,1,0,0,0,0
3573,1119542,2018,2018-06-27,Edgbaston,2,3.5,Australia,England,GJ Maxwell,AJ Finch,CJ Jordan,0,0,NaN,NaN,NaN,NaN,NaN,bowled,GJ Maxwell,NaN,NaN,1119542_2,24,0,33,1,2,2,4,1,0,Birmingham,Australia,field,1,22,98,1,0,0,0,0,0,1,0,0
3574,1119542,2018,2018-06-27,Edgbaston,2,3.6,Australia,England,TM Head,AJ Finch,CJ Jordan,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,25,5,38,0,2,1,4,1,0,Birmingham,Australia,field,1,23,97,0,0,0,0,0,0,0,0,1
3575,1119542,2018,2018-06-27,Edgbaston,2,3.7,Australia,England,AJ Finch,TM Head,CJ Jordan,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1119542_2,26,1,39,0,2,4,4,1,0,Birmingham,Australia,field,1,24,96,0,1,0,0,0,0,0,0,0

In [38]:
df_all_eng_aus[df_all_eng_aus['other_player_dismissed'].notna()]
# no instances of two wickets on one ball
# looking at the rules it is not possible for this to happen

Empty DataFrame
Columns: [match_id, season, start_date, venue, innings, ball, batting_team, bowling_team, striker, non_striker, bowler, runs_off_bat, extras, wides, noballs, byes, legbyes, penalty, wicket_type, player_dismissed, other_wicket_type, other_player_dismissed, match_id_innings, time_idx, total_runs_off_ball, cum_runs, is_wicket, cum_wickets, runs_prev_3, over_number, powerplay, death_overs, city, toss_winner, toss_decision, legal_delivery, legal_delivery_number, balls_remaining, rob_0, rob_1, rob_2, rob_3, rob_4, rob_6, wicket, extra, other]
Index: []

In [39]:
df_all_eng_aus.shape

(5949, 47)

In [91]:
df_all_eng_aus

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,match_id_innings,time_idx,total_runs_off_ball,cum_runs,is_wicket,cum_wickets,runs_prev_3,over_number,powerplay,death_overs,city,toss_winner,toss_decision,legal_delivery,legal_delivery_number,balls_remaining,rob_0,rob_1,rob_2,rob_3,rob_4,rob_6,wicket,extra,other
0,211028,2005,2005-06-13,16,1,0.1,England,Australia,ME Trescothick,GO Jones,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,1,0,0,0,0,0,1,1,0,Southampton,1,0,1,1,119,1,0,0,0,0,0,0,0,0
1,211028,2005,2005-06-13,16,1,0.2,England,Australia,ME Trescothick,GO Jones,B Lee,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,2,1,1,0,0,0,1,1,0,Southampton,1,0,1,2,118,0,1,0,0,0,0,0,0,0
2,211028,2005,2005-06-13,16,1,0.3,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,3,0,1,0,0,0,1,1,0,Southampton,1,0,1,3,117,1,0,0,0,0,0,0,0,0
3,211028,2005,2005-06-13,16,1,0.4,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,4,0,1,0,0,0,1,1,0,Southampton,1,0,1,4,116,1,0,0,0,0,0,0,0,0
4,211028,2005,2005-06-13,16,1,0.5,England,Australia,GO Jones,ME Trescothick,B Lee,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211028_1,5,0,1,0,0,1,1,1,0,Southampton,1,0,1,5,115,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5944,1385698,2024,2024-09-13,13,2,18.3,England,Australia,LS Livingstone,J Overton,MW Short,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1385698_2,116,1,189,0,5,2,19,0,1,Cardiff,1,1,0,110,10,1,0,0,0,0,0,0,1,0
5945,1385698,2024,2024-09-13,13,2,18.4,England,Australia,LS Livingstone,J Overton,MW Short,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1385698_2,117,4,193,0,5,1,19,0,1,Cardiff,1,1,1,111,9,0,0,0,0,1,0,0,0,0
5946,1385698,2024,2024-09-13,13,2,18.5,England,Australia,LS Livingstone,J Overton,MW Short,0,0,NaN,NaN,NaN,NaN,NaN,bowled,LS Livingstone,NaN,NaN,1385698_2,118,0,193,1,6,6,19,0,1,Cardiff,1,1,1,112,8,1,0,0,0,0,0,1,0,0
5947,1385698,2024,2024-09-13,13,2,18.6,England,Australia,BA Carse,J Overton,MW Short,0,0,NaN,NaN,NaN,NaN,NaN,caught,BA Carse,NaN,NaN,1385698_2,119,0,193,1,7,1,19,0,1,Cardiff,1,1,1,113,7,1,0,0,0,0,0,1,0,0
5948,1385698,2024,2024-09-13,13,2,18.7,England,Australia,AU Rashid,J Overton,MW Short,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1385698_2,120,1,194,0,7,4,19,0,1,Cardiff,1,1,1,114,6,0,1,0,0,0,0,0,0,0

# **Setting up simple TFT**

I now need to define and split my varibales into 4 groups so that it is suitable for the DARTS documentation
1. Target
2. Past covariates
3. Future Covariates
4. Static covariates

Then we can convert to darts.timeseries objects

Each TimeSeries object is a sequence of data points (balls) within that specific innings

### Imports

In [40]:
!pip install darts

Requirement already satisfied: darts in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (0.36.0)
Requirement already satisfied: holidays>=0.11.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (0.78)
Requirement already satisfied: joblib>=0.16.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (1.5.1)
Requirement already satisfied: matplotlib>=3.3.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (3.10.5)
Requirement already satisfied: narwhals>=1.25.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.1.1)
Requirement already satisfied: nfoursid>=1.0.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (1.0.2)
Requirement already satisfied: numpy>=1.19.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.2.6)
Requirement already satisfied: pandas>=1.0.5 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.3.1)
Requirement already satisfied: pyod>=0.9.5 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.0.5)
Requirement already satisfied: requests>=2.22.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.32.4)
Requirement already satisfied: scikit-learn>=1.6.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (1.7.1)
Requirement already satisfied: scipy<1.16.0,>=1.3.2 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (1.15.3)
Requirement already satisfied: shap>=0.40.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (0.48.0)
Requirement already satisfied: statsforecast>=1.4 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.0.2)
Requirement already satisfied: statsmodels>=0.14.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (0.14.5)
Requirement already satisfied: tqdm>=4.60.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (4.67.1)
Requirement already satisfied: typing-extensions in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (4.14.1)
Requirement already satisfied: xarray>=0.17.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2025.7.1)
Requirement already satisfied: xgboost>=2.1.4 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (3.0.4)
Requirement already satisfied: pytorch-lightning>=1.5.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.5.2)
Requirement already satisfied: tensorboardX>=2.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.6.4)
Requirement already satisfied: torch>=1.8.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from darts) (2.8.0)
Requirement already satisfied: python-dateutil in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from holidays>=0.11.1->darts) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (25.0)
Requirement already satisfied: pillow>=8 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from matplotlib>=3.3.0->darts) (3.2.3)
Requirement already satisfied: pytz>=2020.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas>=1.0.5->darts) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pandas>=1.0.5->darts) (2025.2)
Requirement already satisfied: numba>=0.51 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pyod>=0.9.5->darts) (0.61.2)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from numba>=0.51->pyod>=0.9.5->darts) (0.44.0)
Requirement already satisfied: six>=1.5 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from python-dateutil->holidays>=0.11.1->darts) (1.17.0)
Requirement already satisfied: PyYAML>=5.4 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pytorch-lightning>=1.5.0->darts) (6.0.2)
Requirement already satisfied: fsspec>=2022.5.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (2025.7.0)
Requirement already satisfied: torchmetrics>=0.7.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pytorch-lightning>=1.5.0->darts) (1.8.1)
Requirement already satisfied: lightning-utilities>=0.10.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from pytorch-lightning>=1.5.0->darts) (0.15.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (3.12.15)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (1.7.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (6.6.4)
Requirement already satisfied: propcache>=0.2.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (1.20.1)
Requirement already satisfied: idna>=2.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning>=1.5.0->darts) (3.10)
Requirement already satisfied: setuptools in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from lightning-utilities>=0.10.0->pytorch-lightning>=1.5.0->darts) (80.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from requests>=2.22.0->darts) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from requests>=2.22.0->darts) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from requests>=2.22.0->darts) (2025.7.14)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from scikit-learn>=1.6.0->darts) (3.6.0)
Requirement already satisfied: slicer==0.0.8 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from shap>=0.40.0->darts) (0.0.8)
Requirement already satisfied: cloudpickle in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from shap>=0.40.0->darts) (3.1.1)
Requirement already satisfied: coreforecast>=0.0.12 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from statsforecast>=1.4->darts) (0.0.16)
Requirement already satisfied: fugue>=0.8.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from statsforecast>=1.4->darts) (0.9.1)
Requirement already satisfied: utilsforecast>=0.1.4 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from statsforecast>=1.4->darts) (0.2.12)
Requirement already satisfied: triad>=0.9.7 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts) (0.9.8)
Requirement already satisfied: adagio>=0.2.4 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from fugue>=0.8.1->statsforecast>=1.4->darts) (0.2.6)
Requirement already satisfied: patsy>=0.5.6 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from statsmodels>=0.14.0->darts) (1.0.1)
Requirement already satisfied: protobuf>=3.20 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from tensorboardX>=2.1->darts) (6.31.1)
Requirement already satisfied: filelock in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (3.18.0)
Requirement already satisfied: sympy>=1.13.3 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (1.14.0)
Requirement already satisfied: networkx in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (3.5)
Requirement already satisfied: jinja2 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (3.1.6)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.8.93 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.8.93)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.8.90 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.8.90)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.8.90 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.8.90)
Requirement already satisfied: nvidia-cudnn-cu12==9.10.2.21 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (9.10.2.21)
Requirement already satisfied: nvidia-cublas-cu12==12.8.4.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.8.4.1)
Requirement already satisfied: nvidia-cufft-cu12==11.3.3.83 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (11.3.3.83)
Requirement already satisfied: nvidia-curand-cu12==10.3.9.90 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (10.3.9.90)
Requirement already satisfied: nvidia-cusolver-cu12==11.7.3.90 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (11.7.3.90)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.8.93 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.5.8.93)
Requirement already satisfied: nvidia-cusparselt-cu12==0.7.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (0.7.1)
Requirement already satisfied: nvidia-nccl-cu12==2.27.3 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (2.27.3)
Requirement already satisfied: nvidia-nvtx-cu12==12.8.90 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.8.90)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.8.93 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (12.8.93)
Requirement already satisfied: nvidia-cufile-cu12==1.13.1.3 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (1.13.1.3)
Requirement already satisfied: triton==3.4.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from torch>=1.8.0->darts) (3.4.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from sympy>=1.13.3->torch>=1.8.0->darts) (1.3.0)
Requirement already satisfied: pyarrow>=6.0.1 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from triad>=0.9.7->fugue>=0.8.1->statsforecast>=1.4->darts) (21.0.0)
Requirement already satisfied: fs in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from triad>=0.9.7->fugue>=0.8.1->statsforecast>=1.4->darts) (2.4.16)
Requirement already satisfied: appdirs~=1.4.3 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from fs->triad>=0.9.7->fugue>=0.8.1->statsforecast>=1.4->darts) (1.4.4)
Requirement already satisfied: MarkupSafe>=2.0 in /home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages (from jinja2->torch>=1.8.0->darts) (3.0.2)

In [41]:
from darts import TimeSeries
from darts.models import TFTModel
from darts.utils.timeseries_generation import datetime_attribute_timeseries
from darts.dataprocessing.transformers import Scaler
from darts.utils.likelihood_models.torch import QuantileRegression
from sklearn.preprocessing import LabelEncoder
from tqdm import tqdm

/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/fs/__init__.py:4: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  __import__("pkg_resources").declare_namespace(__name__)  # type: ignore
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [42]:
df_all_eng_aus.head(0)

Empty DataFrame
Columns: [match_id, season, start_date, venue, innings, ball, batting_team, bowling_team, striker, non_striker, bowler, runs_off_bat, extras, wides, noballs, byes, legbyes, penalty, wicket_type, player_dismissed, other_wicket_type, other_player_dismissed, match_id_innings, time_idx, total_runs_off_ball, cum_runs, is_wicket, cum_wickets, runs_prev_3, over_number, powerplay, death_overs, city, toss_winner, toss_decision, legal_delivery, legal_delivery_number, balls_remaining, rob_0, rob_1, rob_2, rob_3, rob_4, rob_6, wicket, extra, other]
Index: []

In [43]:
# specify which columns to extract from the master df
target_cols = ['rob_0', 'rob_1', 'rob_2', 'rob_3', 'rob_4', 'rob_6', 'wicket', 'extra', 'other']
past_cov_cols = ['time_idx', 'over_number', 'cum_runs', 'cum_wickets', 'runs_prev_3', 'legal_delivery', 'balls_remaining']
future_cov_cols = ['powerplay', 'death_overs', 'over_number']
static_cov_cols = ['venue', 'toss_winner', 'toss_decision']

#still need to encode static variables

Label encode statics as Darts expects all covariates to be numeric

In [44]:
# Label encode static covariates, each venue will have a unique number same with toss winner, toss decision
for col in ['venue', 'toss_winner', 'toss_decision']:
    df_all_eng_aus[col] = LabelEncoder().fit_transform(df_all_eng_aus[col].astype(str))

### Convert innings to darts time series

In [45]:

# Convert each innings into TimeSeries format
def create_series_grouped(df):
    target_series = []
    past_cov_series = []
    future_cov_series = []
    static_covs = []

    for _, group in df.groupby("match_id_innings"):
        group = group.sort_values("time_idx")
# group each innings and then ensure order by time_idx

        ts_target = TimeSeries.from_dataframe(group, value_cols=target_cols, time_col="time_idx")
        ts_past = TimeSeries.from_dataframe(group, value_cols=past_cov_cols, time_col="time_idx")
        ts_future = TimeSeries.from_dataframe(group, value_cols=future_cov_cols, time_col="time_idx")
        ts_static = group[static_cov_cols].iloc[0].to_numpy(dtype=np.float32) # convert to float as this is what darts expects
# create Timeseries for each of our targets and covariates

        target_series.append(ts_target)
        past_cov_series.append(ts_past)
        future_cov_series.append(ts_future)
        static_covs.append(ts_static)
# append will add innings by innings

    return target_series, past_cov_series, future_cov_series, static_covs

# Run it
target_series, past_covs, future_covs, static_covs = create_series_grouped(df_all_eng_aus)

In [46]:
print(static_covs)

[array([1., 0., 1.], dtype=float32), array([1., 0., 1.], dtype=float32), array([7., 0., 1.], dtype=float32), array([7., 0., 1.], dtype=float32), array([3., 0., 1.], dtype=float32), array([3., 0., 1.], dtype=float32), array([16.,  0.,  1.], dtype=float32), array([16.,  0.,  1.], dtype=float32), array([16.,  0.,  0.], dtype=float32), array([16.,  0.,  0.], dtype=float32), array([16.,  0.,  1.], dtype=float32), array([16.,  0.,  1.], dtype=float32), array([2., 1., 1.], dtype=float32), array([2., 1., 1.], dtype=float32), array([10.,  0.,  1.], dtype=float32), array([10.,  0.,  1.], dtype=float32), array([6., 0., 1.], dtype=float32), array([6., 0., 1.], dtype=float32), array([6., 0., 1.], dtype=float32), array([6., 0., 1.], dtype=float32), array([17.,  1.,  1.], dtype=float32), array([17.,  1.,  1.], dtype=float32), array([13.,  1.,  1.], dtype=float32), array([13.,  1.,  1.], dtype=float32), array([5., 1., 1.], dtype=float32), array([5., 1., 1.], dtype=float32), array([16.,  1.,  0.], dtype=float32), array([16.,  1.,  0.], dtype=float32), array([15.,  0.,  0.], dtype=float32), array([15.,  0.,  0.], dtype=float32), array([8., 1., 0.], dtype=float32), array([8., 1., 0.], dtype=float32), array([9., 1., 1.], dtype=float32), array([9., 1., 1.], dtype=float32), array([4., 1., 1.], dtype=float32), array([4., 1., 1.], dtype=float32), array([0., 0., 0.], dtype=float32), array([0., 0., 0.], dtype=float32), array([7., 0., 0.], dtype=float32), array([7., 0., 0.], dtype=float32), array([16.,  1.,  1.], dtype=float32), array([16.,  1.,  1.], dtype=float32), array([11.,  0.,  1.], dtype=float32), array([11.,  0.,  1.], dtype=float32), array([1., 0., 0.], dtype=float32), array([1., 0., 0.], dtype=float32), array([7., 1., 0.], dtype=float32), array([7., 1., 0.], dtype=float32), array([14.,  0.,  0.], dtype=float32), array([14.,  0.,  0.], dtype=float32), array([12.,  0.,  1.], dtype=float32), array([12.,  0.,  1.], dtype=float32)]

In [47]:
df_all_eng_aus['match_id'].nunique()

26

In [48]:
df_all_eng_aus['match_id_innings'].nunique()

52

In [49]:
len(target_series)

52

In [50]:
len(past_covs)

52

In [51]:
# check what the first time series looks like

print("Target Series[0] shape:", target_series[0].values().shape)
print("Target Series[0] sample values:\n", target_series[0].values()[:5])


print("\nPast Covariates[0] shape:", past_covs[0].values().shape)
print("Past Covariates[0] sample values:\n", past_covs[0].values()[:5])


print("\nFuture Covariates[0] shape:", future_covs[0].values().shape)
print("Future Covariates[0] sample values:\n", future_covs[0].values()[:5])


print("\nStatic Covariates[0] shape:", static_covs[0].shape)
print("Static Covariates[0] values:", static_covs[0])

# the shape being 124 is the number of balls

Target Series[0] shape: (124, 9)
Target Series[0] sample values:
 [[0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0.]]

Past Covariates[0] shape: (124, 7)
Past Covariates[0] sample values:
 [[  1.   1.   2.   0.   0.   1. 119.]
 [  2.   1.   2.   0.   0.   1. 118.]
 [  3.   1.   3.   0.   0.   0. 118.]
 [  4.   1.   7.   0.   2.   1. 117.]
 [  5.   1.   9.   0.   0.   1. 116.]]

Future Covariates[0] shape: (124, 3)
Future Covariates[0] sample values:
 [[1. 0. 1.]
 [1. 0. 1.]
 [1. 0. 1.]
 [1. 0. 1.]
 [1. 0. 1.]]

Static Covariates[0] shape: (3,)
Static Covariates[0] values: [1. 0. 1.]

### Train Val Test split

In [52]:
from sklearn.model_selection import train_test_split

train_targets, test_targets, train_past, test_past, train_future, test_future, train_static, test_static = train_test_split(
    target_series, past_covs, future_covs, static_covs, test_size=0.15, random_state=42
)
# getting the test set

train_targets, val_targets, train_past, val_past, train_future, val_future, train_static, val_static = train_test_split(
    train_targets, train_past, train_future, train_static, test_size=0.18, random_state=42
)
# split remaining samples into train and val sets

# check how many samples in each set
print(f"Train samples: {len(train_targets)}")
print(f"Validation samples: {len(val_targets)}")
print(f"Test samples: {len(test_targets)}")

Train samples: 36
Validation samples: 8
Test samples: 8

Here I have split my samples into a 15% test set and 85% train set 

each set contains target/past/future/static splits whihc must be aligned 

Train set is then aplit agian into train and val (o.18 ¬ 15% of original data) set

Have had to add this filter because some innings where to short

**Need to deal with this - not to self**

In [53]:
# Get the TimeSeries at index 18
ts_example = train_targets[18]

# index 18 was to short
print(f"Length of innings at index 18: {len(ts_example)}")
print("Time index:", ts_example.time_index)
print("Values:")
print(ts_example.values())

Length of innings at index 18: 10
Time index: RangeIndex(start=1, stop=11, step=1, name='time_idx')
Values:
[[1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 1. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 1. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 1. 0.]
 [1. 0. 0. 0. 0. 0. 1. 0. 0.]]

In [54]:
def filter_short_series(targets, past, future, static, min_len=31):
    filtered = [
        (t, p, f, s)
        for t, p, f, s in zip(targets, past, future, static)
        if len(t) >= min_len
    ]
    return zip(*filtered) if filtered else ([], [], [], [])

# Apply to each dataset
train_targets, train_past, train_future, train_static = filter_short_series(
    train_targets, train_past, train_future, train_static
)
val_targets, val_past, val_future, val_static = filter_short_series(
    val_targets, val_past, val_future, val_static
)
test_targets, test_past, test_future, test_static = filter_short_series(
    test_targets, test_past, test_future, test_static
)

Goes through each innings in each df (T/S/P/F) and only keeps innings which are at least 31 balls long 
Applies it seperatley to train/val/test sets

### Scale
Only need to scale past and future covariates

In [55]:
# scale past covariates
scaler_past = Scaler()
train_past_scaled = scaler_past.fit_transform(train_past)
# fit and scale train set
val_past_scaled = scaler_past.transform(val_past)
test_past_scaled = scaler_past.transform(test_past)
# dont fit scaler just apply

# Scale future covariates
scaler_future = Scaler()
# new scaler
train_future_scaled = scaler_future.fit_transform(train_future)
# fit and scale on train set
val_future_scaled = scaler_future.transform(val_future)
test_future_scaled = scaler_future.transform(test_future)
# just scale train and val set


train_targets = [ts.with_static_covariates(pd.Series(sc, index=static_cov_cols)) for ts, sc in zip(train_targets, train_static)]
val_targets = [ts.with_static_covariates(pd.Series(sc, index=static_cov_cols)) for ts, sc in zip(val_targets, val_static)]
test_targets = [ts.with_static_covariates(pd.Series(sc, index=static_cov_cols)) for ts, sc in zip(test_targets, test_static)]

#insert the static covariates back in. When using .with_static_covariates needs to be a pd series or pd df
#loops once per innings and inserts my static covariates

Only 8 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.
Only 7 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.
Only 8 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.

Only 7 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.

Fit scaler on only training sets 
Then scale train/test/val 

only done to past and futurue covariates 
add back in static covariates after filter (above) removed them 
statics only need to be added to targets

Sanity checks

In [56]:
# Are statics attached?
train_targets[3].static_covariates  # should show a Series/DataFrame with venue, toss_winner, toss_decision

static_covariates  venue  toss_winner  toss_decision
global_components    1.0          0.0            1.0

In [57]:
print(len(train_past))
print(len(val_past))
print(len(test_past))

35
8
7

### Model Setup

In [58]:
quantiles = [0.1, 0.5, 0.9]  # Adjust later if needed

model = TFTModel(
    input_chunk_length=30,       # look sback 30 balls, can chnage this
    output_chunk_length=1,       # predict 1 ball
    hidden_size=32,              # lightweight start, can increase
    lstm_layers=1,               # single layer to start as not much data
    num_attention_heads=4,       # darts reccomended default
    dropout=0.1,                 # prevent overfitting
    batch_size=32,               # efficeint to start, could increase if switch compute
    n_epochs=50,                 # default is 100, short to start then increase
    add_relative_index=True,     # adds positional value to future covariates
    likelihood=QuantileRegression(quantiles=quantiles),   #default
    random_state=42,
    force_reset=True,            #training resets each time
)

### Try without future covariates

#### .fit

In [59]:
model.fit(
    series=train_targets,
    past_covariates=train_past_scaled,
    verbose=True,
)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

   | Name                              | Type                             | Params | Mode
------------------------------------------------------------------------------------------------
0  | train_metrics                     | MetricCollection                 | 0      | train
1  | val_metrics                       | MetricCollection                 | 0      | train
2  | input_embeddings                  | _MultiEmbedding                  | 0      | train
3  | static_covariates_vsn             | _VariableSelectionNetwork        | 2.8 K  | train
4  | encoder_vsn                       | _VariableSelectionNetwork        | 19.1 K | train
5  | decoder_vsn                       | _VariableSelectionNetwork        | 896    | train
6  | static_context_grn                | _GatedResidualNetwork            | 4.3 K  | train
7  | static_context_hidden_encoder_grn | _GatedResidualNetwork            | 4.3 K  | train
8  | static_context_cell_encoder_grn   | _GatedResidualNetwork            | 4.3 K  | train
9  | static_context_enrichment         | _GatedResidualNetwork            | 4.3 K  | train
10 | lstm_encoder                      | LSTM                             | 8.4 K  | train
11 | lstm_decoder                      | LSTM                             | 8.4 K  | train
12 | post_lstm_gan                     | _GateAddNorm                     | 2.2 K  | train
13 | static_enrichment_grn             | _GatedResidualNetwork            | 5.3 K  | train
14 | multihead_attn                    | _InterpretableMultiHeadAttention | 2.6 K  | train
15 | post_attn_gan                     | _GateAddNorm                     | 2.2 K  | train
16 | feed_forward_block                | _GatedResidualNetwork            | 4.3 K  | train
17 | pre_output_gan                    | _GateAddNorm                     | 2.2 K  | train
18 | output_layer                      | Linear                           | 891    | train
------------------------------------------------------------------------------------------------
76.5 K    Trainable params
0         Non-trainable params
76.5 K    Total params
0.306     Total estimated model params size (MB)
456       Modules in train mode
0         Modules in eval mode
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

Epoch 49: 100%|██████████| 110/110 [00:09<00:00, 12.18it/s, train_loss=0.142]

`Trainer.fit` stopped: `max_epochs=50` reached.

Epoch 49: 100%|██████████| 110/110 [00:09<00:00, 12.18it/s, train_loss=0.142]

TFTModel(output_chunk_shift=0, hidden_size=32, lstm_layers=1, num_attention_heads=4, full_attention=False, feed_forward=GatedResidualNetwork, dropout=0.1, hidden_continuous_size=8, categorical_embedding_sizes=None, add_relative_index=True, loss_fn=None, likelihood=QuantileRegression(quantiles=[0.1, 0.5, 0.9], prior_strength=1.0), norm_type=LayerNorm, use_static_covariates=True, input_chunk_length=30, output_chunk_length=1, batch_size=32, n_epochs=50, random_state=42, force_reset=True)

In [60]:
# Do lengths line up with input_chunk_length?
len(train_targets[0]) >= model.input_chunk_length + model.output_chunk_length

True

In [61]:
# Do covariate indexes align?
train_past_scaled[0].time_index.equals(train_targets[0].time_index)

True

In [62]:
train_future_scaled[0].time_index.equals(train_targets[0].time_index)

True

#### .predict one after each series (n=1)

In [63]:
val_preds = model.predict(
    n=1, 
    series=val_targets,
    past_covariates=val_past_scaled,
)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

Predicting DataLoader 0: 100%|██████████| 1/1 [00:00<00:00, 60.05it/s]

This .predict makes a prediction at the end of each time series, so hypothetically predicts the ball after the end of each innings 
We want to have a rolling prediction, that makes a prediction at each ball 
This will allow the model to recognise patterns as the game develops and will allow us to compare our predictions to the actual outcome

In [64]:
assert len(val_preds) == len(val_targets)
assert all(len(ts) == 1 for ts in val_preds)  # each forecast is 1 step
print("Example first vector:", val_preds[0].all_values()[-1])

Example first vector: [[ 1.00281461e+00]
 [ 7.52714565e-01]
 [-1.52458675e-02]
 [-3.40274390e-03]
 [-1.43287662e-03]
 [ 7.33531214e-03]
 [-8.01463752e-04]
 [ 1.35833578e-03]
 [-4.80498594e-03]]

So without future covariates .predict works

Now lets check we can get probabilities for each output variable

#### probabilities
- this shows the probabilities of how much each target is predicted by our current model

In [65]:
# extract raw output for next ball 
arr = val_preds[0].all_values(copy=False)
arr = np.asarray(arr, dtype=float)
arr = np.squeeze(arr)          # drop size-1 dims -> e.g. (time, comps) or (comps,)
if arr.ndim == 2:
    raw_vec = arr[-1]          # take last time step -> shape (comps,)
elif arr.ndim == 1:
    raw_vec = arr
else:
    # squeeze to get 2d output
    raw_vec = np.squeeze(arr)[-1]

print("raw_vec shape:", raw_vec.shape)  


# this gives us the raw output vector for the next ball, which is a 1D array of probabilities for each target variable

raw_vec shape: (9,)

In [66]:
# Softmax to convert to probabilities
def softmax1d(x):
    x = x - np.max(x)          # numerical stability
    ex = np.exp(x)
    return ex / ex.sum()

probs = softmax1d(raw_vec)      # shape (9,)

# print probabilities of each target variable
for name, p in zip(val_preds[0].components, probs.tolist()):
    print(f"{name:>7}: {p:.4f}")
print("Sum:", float(probs.sum()))

  rob_0: 0.2304
  rob_1: 0.1794
  rob_2: 0.0832
  rob_3: 0.0842
  rob_4: 0.0844
  rob_6: 0.0851
 wicket: 0.0844
  extra: 0.0846
  other: 0.0841
Sum: 1.0000000000000002

In [67]:
print("Probabilities sum to 1:", np.isclose(probs.sum(), 1.0))

Probabilities sum to 1: True

### rolling prediction

In [ ]:
# So i currently have a model fitted with no FCs, my validation past varibales (which have been scaled) and target variables
# target_cols: ['rob_0','rob_1','rob_2','rob_3','rob_4','rob_6','wicket','extra','other']

#using same soft max as above for converting raw scores to probabilities

TARGET_COLS = target_cols  

all_rows = []  # to collect per-innings predictions

for i in range(len(val_targets)): # loop through each innings in the validation set
    s = val_targets[i]        # the 9-dim target series (this innings)
    p = val_past_scaled[i]    # past covariates aligned to s

    # rolling next ball predictions
    # at each step it uses last input chunk length, so we can only start predicting at ball 30 
    # balls as context, predicts the *next* ball (horizon=1), moves forward by one (stride=1), repeats.
    fc_ts = model.historical_forecasts(
        series=s,
        past_covariates=p,
        forecast_horizon=1,     # predict only the next ball each time
        stride=1,               # advance one ball at a time
        start=model.input_chunk_length,  # first forecast at ball 31 (current input length is 30)
        last_points_only=True,  # we only want the single next-ball point from each step
        retrain=False,          # use the already-fitted weights
        verbose=False,
        show_warnings=False, # there was warning about starting at 30, but they were expected (didnt set this initially)
    )

    # skip if innings to short (shouldnt be the case as filtered earlier)
    if len(fc_ts) == 0:
        continue

    # allign predicted wityh true, so we can compare further down the line 
    y_true_ts = s.slice_intersect(fc_ts)

    # extract raw outputs from each ball 
    raw = np.asarray(fc_ts.all_values(copy=False), dtype=float)
    raw = np.squeeze(raw)
    if raw.ndim == 1:  # if a single prediction came out as 1D, make it 2D with one row
        raw = raw.reshape(1, -1)

    # use our softmax function to convert raw scores to probabilities
    probs = np.apply_along_axis(softmax1d, 1, raw)   # shape: (num_pred_balls, 9)

    # align truthds with predictions 
    tru = np.asarray(y_true_ts.all_values(copy=False), dtype=float)
    tru = np.squeeze(tru)
    if tru.ndim == 1:
        tru = tru.reshape(1, -1)

    # per innings df 
    df_pred = pd.DataFrame(probs, columns=[f"pred_{c}" for c in TARGET_COLS])
    # time_idx here is the index of the ball being predicted 
    df_pred["time_idx"] = fc_ts.time_index.values.astype(int)

    df_true = pd.DataFrame(tru, columns=[f"true_{c}" for c in TARGET_COLS])

    df_i = pd.concat([df_pred, df_true], axis=1)
    df_i["series_idx"] = i  # identify which innings this row came from
    all_rows.append(df_i)

# combine all innings into a single df 
val_eval_df = pd.concat(all_rows, ignore_index=True)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

In [75]:
# confirm the component order in the series matches target_cols
print("Components match target_cols for first series?:", list(val_targets[0].components) == TARGET_COLS)

Components match target_cols for first series?: True

In [70]:
print("val_eval_df shape (rows = predicted balls):", val_eval_df.shape)

val_eval_df shape (rows = predicted balls): (682, 20)

In [71]:
L = model.input_chunk_length  # 30 at the mo
expected_total = sum(max(0, len(s) - L) for s in val_targets)
actual_total = len(val_eval_df)

print("Expected total preds:", expected_total)
print("Actual total preds:  ", actual_total)

Expected total preds: 682
Actual total preds:   682

In [72]:
# this df has one row for each predicted ball, it shows the probabilities of each target varibale for that ball as well as the true outcome of the ball
val_eval_df.head(15)

,pred_rob_0,pred_rob_1,pred_rob_2,pred_rob_3,pred_rob_4,pred_rob_6,pred_wicket,pred_extra,pred_other,time_idx,true_rob_0,true_rob_1,true_rob_2,true_rob_3,true_rob_4,true_rob_6,true_wicket,true_extra,true_other,series_idx
0,0.110065,0.116375,0.112312,0.109502,0.110126,0.110821,0.111258,0.108834,0.110706,31,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
1,0.133744,0.103463,0.103408,0.103809,0.142927,0.103270,0.103405,0.102788,0.103185,32,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.122284,0.141751,0.105824,0.105742,0.104895,0.105305,0.104967,0.103756,0.105477,33,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.194842,0.107313,0.100759,0.099667,0.099508,0.099602,0.099516,0.099274,0.099521,34,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.166084,0.198708,0.073716,0.073049,0.195462,0.073662,0.073062,0.073267,0.072990,35,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
5,0.105220,0.105725,0.106675,0.105439,0.156419,0.105388,0.104808,0.105658,0.104667,36,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,0.111143,0.111573,0.110948,0.111127,0.110829,0.111982,0.111665,0.109654,0.111080,37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
7,0.097267,0.227756,0.096643,0.096209,0.096133,0.095707,0.096479,0.096435,0.097371,38,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,0.254343,0.093292,0.093704,0.093339,0.093086,0.092828,0.093121,0.092269,0.094018,39,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,0.243217,0.094649,0.094707,0.094605,0.093803,0.094613,0.095498,0.094231,0.094676,40,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
10,0.164544,0.104373,0.106624,0.103689,0.103677,0.104394,0.104464,0.104850,0.103384,41,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
11,0.252909,0.093017,0.092921,0.092907,0.096269,0.092873,0.093113,0.092551,0.093439,42,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
12,0.181935,0.099233,0.100751,0.099507,0.122909,0.098210,0.099003,0.099512,0.098941,43,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
13,0.105643,0.105592,0.107839,0.105682,0.153946,0.104512,0.105301,0.105541,0.105945,44,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
14,0.125429,0.109400,0.109569,0.109600,0.108640,0.108874,0.108894,0.109645,0.109950,45,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

#### % correct 
- the highest probability class is choosen as the predicted class and compared to the true outcome

In [87]:
# So we have our ball by ball prediction a a df 
# now i want to calculate accuracy byt choosing top predicted class and comparing to the true class

# Extract matrices: shape = (num_predicted_balls, 9). 
# pred_mat holds probabilities; true_mat holds one-hot truth.
pred_mat = val_eval_df[[f"pred_{c}" for c in TARGET_COLS]].to_numpy()
true_mat = val_eval_df[[f"true_{c}" for c in TARGET_COLS]].to_numpy()

# Argmax per row
y_pred = pred_mat.argmax(axis=1) # finds the target with the highest predicted probability for each ball (if there is a tie, it will return the first one)

# Determine y_true with precedence rules:
#   1) If 'wicket' is present -> y_true = 'wicket'
#   2) Else if 'extra' is present -> y_true = 'extra'
#   3) Else if any run label (rob_*) is present -> y_true = that run class (pick the one that's 'on')
#   4) Else -> y_true = 'other'
# wicket trumps all, then extra then runs then other
names = np.array(TARGET_COLS)
idx = {n: i for i, n in enumerate(TARGET_COLS)}
run_cols = np.array([i for i, n in enumerate(TARGET_COLS) if n.startswith("rob_")])

true_w = true_mat[:, idx['wicket']] >= 0.5        # wicket present 
true_e = true_mat[:, idx['extra']]  >= 0.5        # extra present 
runs_mat = (true_mat[:, run_cols]   >= 0.5)       # which run labels (rob_*) are 'on'?
run_present = runs_mat.any(axis=1)                # any run label active?
run_local   = runs_mat.argmax(axis=1)             # pick the active run label

y_true = np.full(true_mat.shape[0], idx['other'], dtype=int)   # default to 'other' if nothing else is on
y_true[run_present] = run_cols[run_local[run_present]]         # use the run class when a run label is on
y_true[true_e] = idx['extra']                                  # override runs with 'extra' if present
y_true[true_w] = idx['wicket']                                 # override everything with 'wicket' if present

# Overall top-1 accuracy = fraction of balls where the top predicted class equals the true class
overall_acc = float((y_pred == y_true).mean())
print(f"Overall top-1 accuracy: {overall_acc:.4f}  ({overall_acc*100:.2f}%)")

# Per-class accuracy = how often the model predicted class k when the true class was k.
# Build per-class records, adding actual_n (truth count) and predicted_n (model's chosen count)
records = []
for k, cls in enumerate(TARGET_COLS):
    mask_true = (y_true == k)
    actual_n = int(mask_true.sum())                 # how many balls truly belong to class k  (same as your support_n)
    predicted_n = int((y_pred == k).sum())          # how many balls the model predicted as class k

    acc_k = float((y_pred[mask_true] == k).mean()) if actual_n > 0 else np.nan  # same as before

    records.append({
        "class": cls,
        "top1_accuracy": acc_k,   # recall for class k under top-1
        "actual_n": actual_n,     # count in ground truth
        "predicted_n": predicted_n  # count of model's top-1 picks
    })

# Summary table, sorted by most common actyual class 
summary_df = (
    pd.DataFrame(records)
      .sort_values("actual_n", ascending=False)
      .reset_index(drop=True)
)

summary_df

Overall top-1 accuracy: 0.2302  (23.02%)

    class  top1_accuracy  actual_n  predicted_n
0   rob_1       0.330986       284          222
1   rob_0       0.295775       142          201
2   rob_2       0.058824        85           40
3   rob_4       0.231884        69          188
4  wicket       0.000000        44           11
5   extra       0.000000        30            3
6   rob_6       0.000000        24            8
7   rob_3       0.000000         4            0
8   other            NaN         0            9

In [88]:
val_eval_df[["true_wicket","true_extra","true_other"]].sum()

true_wicket    44.0
true_extra     30.0
true_other      0.0
dtype: float64

No wickerts or extras is wrong. This is because when rob_0 is also true (all the time for these instances), it chooses this as it is first. 

So chnage y_true

We can see that our model never predcted wicket, extra or other. 

It had low accuracy prediction for 2 runs and 6 runs.

In [89]:
len(y_pred) == len(y_true) == len(val_eval_df)

True

In [86]:
# Overall % correct (top-1 accuracy

correct = (y_pred == y_true).sum()
total   = y_true.size
acc     = correct / total

print(f"Overall accuracy: {acc:.4%}  ({correct}/{total} balls)")

Overall accuracy: 23.0205%  (157/682 balls)

currentley terrible accuracy. How can we improve this...

### Future covariates added 
fixed

Going to extend the original future_covs by +1 duplicating the last row so it is one longer than all the rest of them

#### extend future covs

In [95]:
# Extend future covariates by one time step to ensure coverage for the last target prediction

# Convert each innings into TimeSeries format
def create_series_grouped(df):
    target_series = []
    past_cov_series = []
    future_cov_series = []
    static_covs = []

    for _, group in df.groupby("match_id_innings"):
        group = group.sort_values("time_idx")

        # targets and past: unchanged
        ts_target = TimeSeries.from_dataframe(group, value_cols=target_cols, time_col="time_idx")
        ts_past   = TimeSeries.from_dataframe(group, value_cols=past_cov_cols,  time_col="time_idx")

        # --- FUTURE COVARIATES: extend by +1 step by duplicating the last row ---
        fut_df = group[["time_idx"] + future_cov_cols].copy()
        last_idx  = int(fut_df["time_idx"].iloc[-1])
        last_vals = fut_df[future_cov_cols].iloc[-1]

        # build a 1-row DataFrame at time_idx = last+1 with the same future-cov values
        extra = {"time_idx": last_idx + 1}
        for c in future_cov_cols:
            extra[c] = last_vals[c]
        fut_df_ext = pd.concat([fut_df, pd.DataFrame([extra])], ignore_index=True)

        ts_future = TimeSeries.from_dataframe(fut_df_ext, value_cols=future_cov_cols, time_col="time_idx")
        # --- end FUTURE COVARIATES ---

        # statics as you had them
        ts_static = group[static_cov_cols].iloc[0].to_numpy(dtype=np.float32)

        target_series.append(ts_target)
        past_cov_series.append(ts_past)
        future_cov_series.append(ts_future)
        static_covs.append(ts_static)

    return target_series, past_cov_series, future_cov_series, static_covs

target_series, past_covs, future_covs, static_covs = create_series_grouped(df_all_eng_aus)

In [99]:
print(len(future_covs))
print(len(target_series))
print(len(past_covs))
print(len(static_covs))

52
52
52
52

In [101]:
# Futures should be exactly one step longer than targets
len_ok = [len(fut) == len(tgt) + 1 for tgt, fut in zip(target_series, future_covs)]
print("All series length OK?", all(len_ok), f"({sum(len_ok)}/{len(len_ok)})")

All series length OK? True (52/52)

In [ ]:
# Quick coverage check: futures now extend to t_end + 1 for every innings
for tgt, fut in zip(target_series, future_covs_ext):
    assert fut.start_time() <= tgt.start_time()
    assert fut.end_time()   >= tgt.end_time() + 1

In [ ]:
# check the last two rows of the first and last series to confirm they are identical
for i in [0, min(1, len(target_series)-1)]:
    fut = future_covs[i]
    times = fut.time_index
    vals  = fut.all_values(copy=False)
    print(f"\nseries {i} last indices:", times[-2], "->", times[-1])
    print("values equal on last two rows?", np.allclose(vals[-1], vals[-2]))
    print("last row:", vals[-1])
    print("prev row:", vals[-2])

series 0 last indices: 124 -> 125
values equal on last two rows? True
last row: [[ 0.]
 [ 1.]
 [20.]]
prev row: [[ 0.]
 [ 1.]
 [20.]]

series 1 last indices: 114 -> 115
values equal on last two rows? True
last row: [[ 0.]
 [ 1.]
 [19.]]
prev row: [[ 0.]
 [ 1.]
 [19.]]

In [103]:
print("Target Series[0] shape:", target_series[0].values().shape)
print("Target Series[0] sample values:\n", target_series[0].values()[:5])


print("\nPast Covariates[0] shape:", past_covs[0].values().shape)
print("Past Covariates[0] sample values:\n", past_covs[0].values()[:5])


print("\nFuture Covariates[0] shape:", future_covs[0].values().shape)
print("Future Covariates[0] sample values:\n", future_covs[0].values()[:5])


print("\nStatic Covariates[0] shape:", static_covs[0].shape)
print("Static Covariates[0] values:", static_covs[0])

Target Series[0] shape: (124, 9)
Target Series[0] sample values:
 [[0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0. 0. 0. 0.]]

Past Covariates[0] shape: (124, 7)
Past Covariates[0] sample values:
 [[  1.   1.   2.   0.   0.   1. 119.]
 [  2.   1.   2.   0.   0.   1. 118.]
 [  3.   1.   3.   0.   0.   0. 118.]
 [  4.   1.   7.   0.   2.   1. 117.]
 [  5.   1.   9.   0.   0.   1. 116.]]

Future Covariates[0] shape: (125, 3)
Future Covariates[0] sample values:
 [[1. 0. 1.]
 [1. 0. 1.]
 [1. 0. 1.]
 [1. 0. 1.]
 [1. 0. 1.]]

Static Covariates[0] shape: (3,)
Static Covariates[0] values: [1. 0. 1.]

Future covs are now 1 longer

#### Preprocess

In [104]:
train_targets, test_targets, train_past, test_past, train_future, test_future, train_static, test_static = train_test_split(
    target_series, past_covs, future_covs, static_covs, test_size=0.15, random_state=42
)
# getting the test set

train_targets, val_targets, train_past, val_past, train_future, val_future, train_static, val_static = train_test_split(
    train_targets, train_past, train_future, train_static, test_size=0.18, random_state=42
)
# split remaining samples into train and val sets

# check how many samples in each set
print(f"Train samples: {len(train_targets)}")
print(f"Validation samples: {len(val_targets)}")
print(f"Test samples: {len(test_targets)}")

Train samples: 36
Validation samples: 8
Test samples: 8

In [105]:
def filter_short_series(targets, past, future, static, min_len=31):
    filtered = [
        (t, p, f, s)
        for t, p, f, s in zip(targets, past, future, static)
        if len(t) >= min_len
    ]
    return zip(*filtered) if filtered else ([], [], [], [])

# Apply to each dataset
train_targets, train_past, train_future, train_static = filter_short_series(
    train_targets, train_past, train_future, train_static
)
val_targets, val_past, val_future, val_static = filter_short_series(
    val_targets, val_past, val_future, val_static
)
test_targets, test_past, test_future, test_static = filter_short_series(
    test_targets, test_past, test_future, test_static
)

In [106]:
print(f"Train samples: {len(train_targets)}")
print(f"Validation samples: {len(val_targets)}")
print(f"Test samples: {len(test_targets)}")

Train samples: 35
Validation samples: 8
Test samples: 7

In [107]:
# scale past covariates
scaler_past = Scaler()
train_past_scaled = scaler_past.fit_transform(train_past)
# fit and scale train set
val_past_scaled = scaler_past.transform(val_past)
test_past_scaled = scaler_past.transform(test_past)
# dont fit scaler just apply

# Scale future covariates
scaler_future = Scaler()
# new scaler
train_future_scaled = scaler_future.fit_transform(train_future)
# fit and scale on train set
val_future_scaled = scaler_future.transform(val_future)
test_future_scaled = scaler_future.transform(test_future)
# just scale train and val set


train_targets = [ts.with_static_covariates(pd.Series(sc, index=static_cov_cols)) for ts, sc in zip(train_targets, train_static)]
val_targets = [ts.with_static_covariates(pd.Series(sc, index=static_cov_cols)) for ts, sc in zip(val_targets, val_static)]
test_targets = [ts.with_static_covariates(pd.Series(sc, index=static_cov_cols)) for ts, sc in zip(test_targets, test_static)]

Only 8 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.
Only 7 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.
Only 8 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.
Only 7 TimeSeries (lists) were provided which is lower than the number of series (n=35) used to fit Scaler. This can result in a mismatch between the series and the underlying transformers.

In [108]:
quantiles = [0.1, 0.5, 0.9]  # Adjust later if needed

model = TFTModel(
    input_chunk_length=30,       # look sback 30 balls, can chnage this
    output_chunk_length=1,       # predict 1 ball
    hidden_size=32,              # lightweight start, can increase
    lstm_layers=1,               # single layer to start as not much data
    num_attention_heads=4,       # darts reccomended default
    dropout=0.1,                 # prevent overfitting
    batch_size=32,               # efficeint to start, could increase if switch compute
    n_epochs=50,                 # default is 100, short to start then increase
    add_relative_index=True,     # adds positional value to future covariates
    likelihood=QuantileRegression(quantiles=quantiles),   #default
    random_state=42,
    force_reset=True,            #training resets each time
)

#### Fit

In [ ]:
model.fit(
    series=train_targets,
    past_covariates=train_past_scaled,
    future_covariates=train_future_scaled,
    verbose=True
)

# not how long this model takes to fit even with the current set up
# it took 77 mins  to fit on 50 epochs with 32 batch size and 1 layer
# significant increase when future covaroates are added

GPU available: False, used: False

TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs

   | Name                              | Type                             | Params | Mode
------------------------------------------------------------------------------------------------
0  | train_metrics                     | MetricCollection                 | 0      | train
1  | val_metrics                       | MetricCollection                 | 0      | train
2  | input_embeddings                  | _MultiEmbedding                  | 0      | train
3  | static_covariates_vsn             | _VariableSelectionNetwork        | 2.8 K  | train
4  | encoder_vsn                       | _VariableSelectionNetwork        | 23.1 K | train
5  | decoder_vsn                       | _VariableSelectionNetwork        | 3.9 K  | train
6  | static_context_grn                | _GatedResidualNetwork            | 4.3 K  | train
7  | static_context_hidden_encoder_grn | _GatedResidualNetwork            | 4.3 K  | train
8  | static_context_cell_encoder_grn   | _GatedResidualNetwork            | 4.3 K  | train
9  | static_context_enrichment         | _GatedResidualNetwork            | 4.3 K  | train
10 | lstm_encoder                      | LSTM                             | 8.4 K  | train
11 | lstm_decoder                      | LSTM                             | 8.4 K  | train
12 | post_lstm_gan                     | _GateAddNorm                     | 2.2 K  | train
13 | static_enrichment_grn             | _GatedResidualNetwork            | 5.3 K  | train
14 | multihead_attn                    | _InterpretableMultiHeadAttention | 2.6 K  | train
15 | post_attn_gan                     | _GateAddNorm                     | 2.2 K  | train
16 | feed_forward_block                | _GatedResidualNetwork            | 4.3 K  | train
17 | pre_output_gan                    | _GateAddNorm                     | 2.2 K  | train
18 | output_layer                      | Linear                           | 891    | train
------------------------------------------------------------------------------------------------
83.5 K    Trainable params
0         Non-trainable params
83.5 K    Total params
0.334     Total estimated model params size (MB)
558       Modules in train mode
0         Modules in eval mode
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

Epoch 49: 100%|██████████| 110/110 [01:31<00:00,  1.20it/s, train_loss=0.115]

`Trainer.fit` stopped: `max_epochs=50` reached.

Epoch 49: 100%|██████████| 110/110 [01:31<00:00,  1.20it/s, train_loss=0.115]

TFTModel(output_chunk_shift=0, hidden_size=32, lstm_layers=1, num_attention_heads=4, full_attention=False, feed_forward=GatedResidualNetwork, dropout=0.1, hidden_continuous_size=8, categorical_embedding_sizes=None, add_relative_index=True, loss_fn=None, likelihood=QuantileRegression(quantiles=[0.1, 0.5, 0.9], prior_strength=1.0), norm_type=LayerNorm, use_static_covariates=True, input_chunk_length=30, output_chunk_length=1, batch_size=32, n_epochs=50, random_state=42, force_reset=True)

In [110]:
FC_test = model.predict(
    n=1,
    series=val_targets,
    past_covariates=val_past_scaled,
    future_covariates=val_future_scaled,
)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

Predicting DataLoader 0: 100%|██████████| 1/1 [00:00<00:00, 19.48it/s]

#### Rolling predict

In [111]:
TARGET_COLS = target_cols  

all_rows = []  # to collect per-innings predictions

for i in range(len(val_targets)):  # loop through each innings in the validation set
    s = val_targets[i]         # the 9-dim target series (this innings)
    p = val_past_scaled[i]     # past covariates aligned to s
    f = val_future_scaled[i]   # >>> scaled, extended future covariates for this innings <<<

    # rolling next ball predictions
    # at each step it uses last input chunk length, so we can only start predicting at ball 31 (with L=30)
    fc_ts = model.historical_forecasts(
        series=s,
        past_covariates=p,
        future_covariates=f,          # <<< include futures >>>
        forecast_horizon=1,           # predict only the next ball each time
        stride=1,                     # advance one ball at a time
        start=model.input_chunk_length + 1,  # first forecast at ball 31
        last_points_only=True,        # we only want the single next-ball point from each step
        retrain=False,                # use the already-fitted weights
        verbose=False,
        show_warnings=False,
    )

    # skip if innings too short (shouldn’t happen; filtered earlier)
    if len(fc_ts) == 0:
        continue

    # align predicted with true, so we can compare further down the line 
    y_true_ts = s.slice_intersect(fc_ts)

    # extract raw outputs from each ball 
    raw = np.asarray(fc_ts.all_values(copy=False), dtype=float)
    raw = np.squeeze(raw)
    if raw.ndim == 1:  # if a single prediction came out as 1D, make it 2D with one row
        raw = raw.reshape(1, -1)

    # use our softmax function to convert raw scores to probabilities
    probs = np.apply_along_axis(softmax1d, 1, raw)   # shape: (num_pred_balls, 9)

    # align truths with predictions 
    tru = np.asarray(y_true_ts.all_values(copy=False), dtype=float)
    tru = np.squeeze(tru)
    if tru.ndim == 1:
        tru = tru.reshape(1, -1)

    # per-innings df 
    df_pred = pd.DataFrame(probs, columns=[f"pred_{c}" for c in TARGET_COLS])
    # time_idx here is the index of the ball being predicted 
    df_pred["time_idx"] = fc_ts.time_index.values.astype(int)

    df_true = pd.DataFrame(tru, columns=[f"true_{c}" for c in TARGET_COLS])

    df_i = pd.concat([df_pred, df_true], axis=1)
    df_i["series_idx"] = i  # identify which innings this row came from
    all_rows.append(df_i)

# combine all innings into a single df 
val_eval_df = pd.concat(all_rows, ignore_index=True)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)
GPU available: False, used: False
TPU available: False, using: 0 TPU cores
HPU available: False, using: 0 HPUs
/home/svygb4/.pyenv/versions/3.12.2/lib/python3.12/site-packages/torch/utils/data/dataloader.py:666: UserWarning: 'pin_memory' argument is set as true but no accelerator is found, then device pinned memory won't be used.
  warnings.warn(warn_msg)

In [112]:
L = model.input_chunk_length  # 30 at the mo
expected_total = sum(max(0, len(s) - L) for s in val_targets)
actual_total = len(val_eval_df)

print("Expected total preds:", expected_total)
print("Actual total preds:  ", actual_total)

Expected total preds: 682
Actual total preds:   682

In [113]:
val_eval_df.head(10)

,pred_rob_0,pred_rob_1,pred_rob_2,pred_rob_3,pred_rob_4,pred_rob_6,pred_wicket,pred_extra,pred_other,time_idx,true_rob_0,true_rob_1,true_rob_2,true_rob_3,true_rob_4,true_rob_6,true_wicket,true_extra,true_other,series_idx
0,0.110139,0.116055,0.109890,0.110345,0.110369,0.111238,0.111253,0.110089,0.110623,31,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
1,0.133785,0.104016,0.104554,0.104372,0.137653,0.104000,0.104030,0.104133,0.103458,32,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,0.121839,0.141454,0.105581,0.105622,0.104756,0.105471,0.105142,0.104855,0.105280,33,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,0.193894,0.107075,0.099908,0.100039,0.099672,0.099952,0.099838,0.100140,0.099482,34,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.169067,0.204310,0.075185,0.075124,0.175773,0.075795,0.074987,0.075065,0.074694,35,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
5,0.106294,0.106585,0.105789,0.106587,0.150174,0.106891,0.106163,0.105811,0.105706,36,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,0.110790,0.111192,0.111473,0.111195,0.110419,0.112205,0.111453,0.110626,0.110649,37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
7,0.096775,0.227859,0.096876,0.096484,0.095557,0.095955,0.096388,0.096708,0.097399,38,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,0.252302,0.093338,0.093833,0.093560,0.093098,0.093175,0.093284,0.093215,0.094195,39,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,0.241817,0.094716,0.094959,0.094812,0.093585,0.095060,0.095549,0.094703,0.094799,40,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0

In [114]:
pred_mat = val_eval_df[[f"pred_{c}" for c in TARGET_COLS]].to_numpy()
true_mat = val_eval_df[[f"true_{c}" for c in TARGET_COLS]].to_numpy()

# Argmax per row
y_pred = pred_mat.argmax(axis=1) # finds the target with the highest predicted probability for each ball (if there is a tie, it will return the first one)

# Determine y_true with precedence rules:
#   1) If 'wicket' is present -> y_true = 'wicket'
#   2) Else if 'extra' is present -> y_true = 'extra'
#   3) Else if any run label (rob_*) is present -> y_true = that run class (pick the one that's 'on')
#   4) Else -> y_true = 'other'
# wicket trumps all, then extra then runs then other
names = np.array(TARGET_COLS)
idx = {n: i for i, n in enumerate(TARGET_COLS)}
run_cols = np.array([i for i, n in enumerate(TARGET_COLS) if n.startswith("rob_")])

true_w = true_mat[:, idx['wicket']] >= 0.5        # wicket present 
true_e = true_mat[:, idx['extra']]  >= 0.5        # extra present 
runs_mat = (true_mat[:, run_cols]   >= 0.5)       # which run labels (rob_*) are 'on'?
run_present = runs_mat.any(axis=1)                # any run label active?
run_local   = runs_mat.argmax(axis=1)             # pick the active run label

y_true = np.full(true_mat.shape[0], idx['other'], dtype=int)   # default to 'other' if nothing else is on
y_true[run_present] = run_cols[run_local[run_present]]         # use the run class when a run label is on
y_true[true_e] = idx['extra']                                  # override runs with 'extra' if present
y_true[true_w] = idx['wicket']                                 # override everything with 'wicket' if present

# Overall top-1 accuracy = fraction of balls where the top predicted class equals the true class
overall_acc = float((y_pred == y_true).mean())
print(f"Overall top-1 accuracy: {overall_acc:.4f}  ({overall_acc*100:.2f}%)")

# Per-class accuracy = how often the model predicted class k when the true class was k.
# Build per-class records, adding actual_n (truth count) and predicted_n (model's chosen count)
records = []
for k, cls in enumerate(TARGET_COLS):
    mask_true = (y_true == k)
    actual_n = int(mask_true.sum())                 # how many balls truly belong to class k  (same as your support_n)
    predicted_n = int((y_pred == k).sum())          # how many balls the model predicted as class k

    acc_k = float((y_pred[mask_true] == k).mean()) if actual_n > 0 else np.nan  # same as before

    records.append({
        "class": cls,
        "top1_accuracy": acc_k,   # recall for class k under top-1
        "actual_n": actual_n,     # count in ground truth
        "predicted_n": predicted_n  # count of model's top-1 picks
    })

# Summary table, sorted by most common actyual class 
summary_df = (
    pd.DataFrame(records)
      .sort_values("actual_n", ascending=False)
      .reset_index(drop=True)
)

summary_df

Overall top-1 accuracy: 0.2390  (23.90%)

    class  top1_accuracy  actual_n  predicted_n
0   rob_1       0.348592       284          236
1   rob_0       0.309859       142          201
2   rob_2       0.082353        85           58
3   rob_4       0.173913        69          145
4  wicket       0.000000        44           10
5   extra       0.000000        30            0
6   rob_6       0.041667        24           17
7   rob_3       0.000000         4            1
8   other            NaN         0           14

In [115]:
# Overall % correct (top-1 accuracy

correct = (y_pred == y_true).sum()
total   = y_true.size
acc     = correct / total

print(f"Overall accuracy: {acc:.4%}  ({correct}/{total} balls)")

Overall accuracy: 23.9003%  (163/682 balls)

With FCs = Overall accuracy: 23.9003%  (163/682 balls) 
without FCs = Overall accuracy: 23.0205%  (157/682 balls) 

Marginal improvement - irrelevant